@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  background-size: cover;
  
}

div{
	margin: 20px;
    height: 100vh;
	background-image: url("../image/main_image/main_background.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	position: relative;
}
.login {
  background-color: white;
  border: none;
  width: 187px;
  height: 63px;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 40px;
  position: absolute;
  top: 7%;
  left: 75%;
}

.developer {
  width: 530px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80%;
  left: 128px;
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.checklist {
  background-image: url("../image/main_image/Checklist_button.png");
  border: none;
  width: 268px;
  height: 75px;
  position: absolute;
  bottom: 20%;
  left: 15%;
}

.goschedule {
  background-image: url("../image/main_image/GoSchedule_button.png");
  border: none;
  width: 277px;
  height: 67px;
  position: absolute;
  top: 705px;
  left: 370px;
}

.title_explain {
  width: 550px;
  color: rgba(158,157,162,1);
  position: absolute;
  top: 341px;
  left: 104px;
  font-family: Jalnan;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.title {
  width: 419px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 98px;
  font-family: Jalnan;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}

.miniTitle {
  width: 640px;
  color: rgba(117,191,122,1);
  position: absolute;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  top: 6%;
  left: 15%;
}